.cart{
    /* width: 6rem; */
    background-color: aliceblue;
}
strong{
    font-size: .9rem; 
    background-color: var(--three-color);
    padding: 6px 2px; 
    margin-left: 7px; 
    border-radius: 5%; 
}
.contenedorCart{
    display: flex;
    padding: .5rem;
}
.colorIcon{
    color: aliceblue;
    font-size: 1.5rem;
}