
h3{
    font-weight: 700;
    font-size: 1.2rem;
}
.card{
    border-radius: .5rem;
    /* border: .1px solid var(--two-color); */

    background-color:   var(--white-soft-color);
    margin: 1rem .5rem;
    padding-bottom: 1rem;
    width: 14rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.25);
}
.detail{
    margin: 0.5rem .2rem; 
}

.imgCard{
    object-fit: contain;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    width: 14rem;
    height: 12rem;
}

.viewDetail{
    background-color: var(--main-color);
    padding: .5rem;
    border-radius: .5rem;
}
.detailActive{
    color: aliceblue;

}
.viewDetail:hover{
background-color: var(--main-color);
box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.19);
-webkit-box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.19);
-moz-box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.19);
}
.detailActive:hover{
    color: var(--three-color)
}