.itemCart{
    
    padding: 1.5em 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-soft-color);
    border-bottom-right-radius: .5rem;
    border-bottom:.5px solid ;
    box-shadow: -2px 5px 11px -3px rgba(0,0,0,0.64);
-webkit-box-shadow: -2px 5px 11px -3px rgba(0,0,0,0.64);
-moz-box-shadow: -2px 5px 11px -3px rgba(0,0,0,0.64);
}
.btn-eliminar{
    border: 0;
    padding: .2rem;
    color: red;
    cursor: pointer;
}
.btn-eliminar:hover{
    background-color: #43424234;  
    border-radius: .2rem;
}